
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* shared style */
.text-primary {
    color: #4E47FF;
}

.section-title {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.section-description {
    font-size: 24;
    color: rgba(0, 0, 0, 0.5)
}

.btn-primary {
    background-color: #4E47FF;
    font-weight: bold;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
}

/* header */
.header {
    background-image: url(/Assets/Hero-bg.png);
    /* width: 1440px;
    height: 600px; */
}

/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}

.nav-title {
    font-weight: 800;
    font-size: 34px;
}

/* banner styles */
.banner-text {
    font-weight: bold;
    font-size: 65px;
    text-align: center;
}

/* action box */
.action-box {
    display: flex;
    padding: 116px 140px;
    justify-content: space-around;
}
.action-image {
    border-radius: 40px;
}

/* productive user section */
.pro-user-sec {
    margin: 116px 141px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 15px;
    padding: 50px 142px;
}
.data-sub {
    display: flex;
    justify-content: space-around;
}
.dataA {
    height: 121px;
    width: 121px;
    margin: 0;
    padding: 0;
    
}
.data-color {
    color: rgba(78, 71, 255, 1);
    font-weight: bold;
    font-size: 80px;
    margin: 0;
}
.sub-color {
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

/* user feed */
.user-feed {
    margin: 137px 151px;
}
.review-sec {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.review {
    height: 243px;
    width: 366px;
    border: 2px solid gray;
    padding: 20px;
    border-radius: 5px;
}
.star {
    display: flex;
}

.review-heading {
    color: rgba(30, 30, 30, 1);
    font-weight: bold;

}
.image-others {
    display: flex;
}


